<div class="d-flex justify-content-center">
    <div class="card col-12 col-md-5 mt-5">
        <div class="card-header">
            Welcome!
        </div>
        <div class="card-content p-3">
            There isn't in repo data populated yet - just use the button below to pull it in.
            Remember if you're on a VPN you might not have access to the Github API.
            <div class="d-flex justify-content-center">
                <a href="{{ path('github_refresh') }}" class="btn btn-lg btn-primary">Get some Git data!</a>
            </div>
        </div>
    </div>
</div>