<div class="row">
    <div class="col-md-9">
        <a href="/" class="">
            <h1 class="mb-0">PHpROG</h1>
        </a>
        <small>PHP Repos On Github</small>
    </div>
    <div class="col-md-3 d-flex justify-content-end">
        <a href="/" class="">
            <img height="75" width="75" src="{{ asset('images/frog-svgrepo-com.svg') }}" alt="">
        </a>
    </div>
</div>
